DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(app|sql)(/|$) - [F,L]
  RewriteRule ^config\.php$ - [F,L]
  RewriteRule ^config\.example\.php$ - [F,L]
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]
  RewriteRule ^ index.php [L]
</IfModule>
